@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-latin-400-normal.woff2') format('woff2'),
       url('/fonts/inter-all-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/jetbrains-mono-latin-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@layer components {
     .vertical-center{
height: calc(100vh - 64px);
display:flex;
flex-direction: column;
justify-content: center;



    }
}
